body{
  background:url('./Ui/nbbg.jpg');
  color: #177e89;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size: contain;
  
  
}
.App {
  text-align: center;
}
.uploadInput{
  /* background-color: #177e89; */
  margin-bottom: 30px;
}
.visualization{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.blackbox {
  margin-left: 30px;
  width: 100px;
  height: 100px;
  background-color: #192627;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}
.indication{
     position: relative;
     top:-490px;
     color: #192627;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  };